<form method="POST" action="../reportes/crearReporte">
        <div class="text-white">
            <h2>Dándo click en el siguiente botón se creará un informe con los usuarios que ingresaron y salieron de la Universidad Surcolombiana hasta la fecha.</h2>
        </div>
        <br>
        <br>

        <button class="btn btn-success btn-lg btn-block rounded "type="submit" >Crear reporte en Pdf</button>
    </form>