<div style="background-color:#ffffff"align="center" text="justify" class="jumbotron mt-4 rounded text-black">
  <h1  positionclass="display-2"><b>¡BIENVENIDO!</b></h1>
  <div class="mt-5 row mb-5 text-black">
                    <div class="col-lg-6 order-6 order-lg-2 text-black">
                        <img src="https://comunicacionesusco.edu.co/wp-content/uploads/2017/12/USCO-Acreditada-de-Alta-Calidad.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-6 pr-lg-6 mr-auto order-2 order-lg-1">
                        <h2 class="text-black"><strong>Para evitar la propagación de la COVID-19:</strong></h2>
                        <p class="mb-4">Toma las precauciones adecuadas e infórmate bien para protegerte y cuidar de quienes te rodean. Sigue las recomendaciones de los organismos de salud pública de tu zona.</p>
                        <ul align="left" class="text-black">
                            <li>Lávate las manos con frecuencia. Usa agua y jabón o un desinfectante de manos a base de alcohol.</li>
                            <li>Mantén una distancia de seguridad con personas que tosan o estornuden.</li>
                            <li>Utiliza mascarilla cuando no sea posible mantener el distanciamiento físico.</li>
                            <li>No te toques los ojos, la nariz ni la boca.</li>
                            <li>Cuando tosas o estornudes, cúbrete la nariz y la boca con el codo flexionado o con un pañuelo.</li>
                            <li>Si no te encuentras bien, quédate en casa.</li>
                        </ul>
                    </div>
                </div>
  
  <a class="btn btn-primary btn-lg rounded" href="https://www.usco.edu.co/es/" role="button">Página oficial USCO</a>
   
